.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    h1 {
        font-size: 16px;
        font-weight: 700;
    }
    h2 {
        font-size: 14px;
        font-weight: 300;
    }

    .page-contents {
        margin-top: 100px;
        margin-bottom: 100px;

        .page-title {
            font-size: 28px;
            font-weight: 700;
        }

        .close-button-wrapper {
            text-align: right;
            margin-top: 4px;
            margin-left: -5px;
            padding: 0;

            .close-button {
                border: none;
                background-color: inherit;
                outline: 0 !important;
                cursor: pointer;
            }
        }

        .experience-heading {
            padding-top: 70px;

            .title, .date {
                font-size: 16px;
                font-weight: 700;
            }

            .date {
                text-align: right;
                float: right;
                color: #A9A9A9;
            }
        }

        .location {
            font-size: 16px;
            margin-top: -10px;
            font-weight: 700;
            color: #A9A9A9
        }

        .workDescription {
            padding-top: 20px;
        }

        .subsection {
            margin-left: 15px;
            margin-right: 15px;
            padding-top: 50px;
        }

        .notice {
            font-size: 13px;
            margin: 0 15px 0;
            padding: 5px 15px 5px;
            background-color: #FCE6E6;
            width: 100%;
        }

        .technologies {
            width: 100%;
            .technologyPillContainer {
                display: -webkit-box;   
                display: -moz-box;  
                display: -ms-flexbox; 
                display: -webkit-flex; 
                display: flex;
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;

                .technologyPill {
                    background-color: #F4F4F4;
                    font-size: 12px;
                    margin: 5px;
                    border-radius: 500px;
                    padding: 5px 10px 5px;
                }
            }
        }

        .view {
            .viewButtonContainer {
                .pillButton {
                    background-color: #F4F4F4;
                    font-size: 12px;
                    margin: 5px;
                    border-radius: 500px;
                    padding: 5px 10px 5px;
                    outline: none;
                    border: 0;
                    width: 150px;
                    cursor: pointer;
                }
            }
        }

        @media screen and (max-width: 480px) {
            width: 100vw;
            margin-top: 10px;
            
            .page-title {
                font-size: 22px;
            }

            .experience-heading {
                .title, .date {
                    font-size: 13px;
                }

                .date {
                    padding-right: 10px;
                }
            }
            .location {
                font-size: 13px;
                margin-top: -5px;
            }

            .workDescription {
                padding-top: 15px;

                h2 {
                    font-size: 12px;
                }
            }
        }
    }
}




