.page {
    background-color: purple;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.page-contents {
    background-color: red;
    margin-top: 100px;
}

.page-title {
    font-size: 20px;
}

.close-button-wrapper {
    text-align: right;
    margin-top: 4px;
    margin-left: -5px;
    padding: 0;
}

.close-button {
    border: none;
    background-color: inherit;
    outline: 0 !important;
    cursor: pointer;
    /* font-size: 20px; */
}

.experience-heading {
    padding-top: 30px;
}
/* card content*/
.title{
    
}

.date {
    text-align: right;
    float: right;
}