.navbar-wrapper {
    .navbar {
        .logo {
            font-weight: 700;
            font-size: 1.4em;

            @media screen and (max-width: 576px) {
                font-size: 1.1em;
            }
        }
        padding: 0 !important;

        .nav-link {
            padding-right: 0 !important;
            padding-left: 25px !important;
            font-size: 1.0em;
            text-align: center;
            font-weight: 300;
            color: black;

            &:hover {
                color: black;
            }

            @media screen and (max-width: 576px) {
                font-size: 0.8em;
            }
        }
        
        .navbar-toggler {
            border: none !important;
            padding: 0 !important;
            font-size: 14px !important;
            outline: 0 !important;
        }

        @media screen and (max-width: 576px) {
            .nav-link {
                padding-left: 0px !important;
            }
        }
    }
}

