.tiled-section {
    background-color: red;
}

.tile {
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
}

.tile-button {
    border: none;
    background-color: inherit;
    outline: 0 !important;
    cursor: pointer;
}
.tile-button:hover {
    color: green;
}

.section-title {
    color: white;
    background-color: blue;
    min-width: 300px;
    border-bottom: 2px solid black;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.page {
    background-color: purple;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

}