.tiled-section {
    background-color: red;
    padding-top: 50px;

    .section-title {
        color: white;
        background-color: grey;
        min-width: 300px;
        border-bottom: 2px solid black;
        padding: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    .tile {
        text-align: center;
        margin-top: 40px;

        .tile-button {
            border: none;
            background-color: inherit;
            outline: 0 !important;
            cursor: pointer;

            &:hover {
                color: green;
            }
        }
    }
}

