.welcome-message {
  margin-top: 160px;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.04em;

  .wave {
    font-size: 28px;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
    10% { transform: rotate(-15.0deg) }
    20% { transform: rotate( 12.0deg) }
    30% { transform: rotate(-15.0deg) }
    40% { transform: rotate(  9.0deg) }
    50% { transform: rotate(  0.0deg) }
    100% { transform: rotate(  0.0deg) }
  }

}