@font-face {
  font-family: 'euclid';
  font-weight: 300;
  src: url('fonts/EuclidCircularA-Regular-WebS.eot'); /* IE9 Compat Modes */
  src: url('fonts/EuclidCircularA-Regular-WebS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/EuclidCircularA-Regular-WebS.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/EuclidCircularA-Regular-WebS.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/EuclidCircularA-Regular-WebS.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/EuclidCircularA-Regular-WebS.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'euclid';
  font-weight: 500;
  src: url('fonts/EuclidCircularA-Medium-WebS.eot'); /* IE9 Compat Modes */
  src: url('fonts/EuclidCircularA-Medium-WebS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/EuclidCircularA-Medium-WebS.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/EuclidCircularA-Medium-WebS.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/EuclidCircularA-Medium-WebS.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/EuclidCircularA-Medium-WebS.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'euclid';
  font-weight: 700;
  src: url('fonts/EuclidCircularA-Semibold-WebM.eot'); /* IE9 Compat Modes */
  src: url('fonts/EuclidCircularA-Semibold-WebM.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/EuclidCircularA-Semibold-WebM.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/EuclidCircularA-Semibold-WebM.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/EuclidCircularA-Semibold-WebM.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/EuclidCircularA-Semibold-WebM.svg') format('svg'); /* Legacy iOS */
}



body {
  margin: 0;
  padding: 0;
  font-family: "euclid", -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
